@import '../../../styles/customMediaQueries.css';

.root {
  padding: 24px;
  margin-bottom: 24px;
  border: 1px solid var(--colorGrey100);
  border-radius: 8px;
}

.heading {
  margin-top: 0;
  margin-bottom: 12px;
}

.time {
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: 16px;
}

.error {
  color: var(--colorFail);
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.cancelLink {
  color: var(--colorFail);
}

.confirmCancel {
  margin-top: 8px;
}

.reschedule {
  margin-top: 8px;
}
